#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/aabcc9c2-acf4-4392-aa19-8507a861f664 #  
title: mytestapi_2
version: 1.0

/flights:
 get:
   queryParameters: 
     destination:
      required: false
      enum: [SF0,IAH]

   responses: 
    200:
      body: 
        application/json:
          example: [
  {
    "ID": 5,
    "code": "rree1093",
    "price": 142,
    "departureDate": "2016-02-11T00:00:00",
    "origin": "MUA",
    "destination": "SFO",
    "emptySeats": 1,
    "plane": {
      "type": "Boeing 737",
      "totalSeats": 150
    }
  },
  {
    "ID": 7,
    "code": "eefd1994",
    "price": 676,
    "departureDate": "2016-01-01T00:00:00",
    "origin": "MUA",
    "destination": "SFO",
    "emptySeats": 0,
    "plane": {
      "type": "Boeing 777",
      "totalSeats": 300
    }
  },
  {
    "ID": 8,
    "code": "ffee2000",
    "price": 300,
    "departureDate": "2016-02-20T00:00:00",
    "origin": "MUA",
    "destination": "IAH",
    "emptySeats": 30,
    "plane": {
      "type": "Boeing 737",
      "totalSeats": 150
    }
  }]

 post:
   body: 
     application/json:
       example: [{
    "ID": 8,
    "code": "ffee2000",
    "price": 300,
    "departureDate": "2016-02-20T00:00:00",
    "origin": "MUA",
    "destination": "IAH",
    "emptySeats": 30,
    "plane": {
      "type": "Boeing 737",
      "totalSeats": 150
    }
  }]
   responses: 
    200:
     body: 
       application/json:
         example: 
          message: Flight added (but not really)
     
        
     